// ==============================================================
// # BUTTONS
//
// Tweaks and styles relevant to site buttons
// ==============================================================




// ==============================================================
//
// # FORM BUTTONS
//
// ==============================================================

// -----------------------------------------
// ## FORM BUTTONS - Submit Button
.elementor-form .elementor-button {
  color: $button-form-submit-color;
  background-color: $button-form-submit-background;
  border-radius: $button-border-radius;
  transition: $button-transition-speed;

  &:hover, &:focus {
    color: $button-form-submit-color-hover;
    background-color: $button-form-submit-background-hover;
  }
}
