// ==============================================================
// HOMEPAGE
//
// Styles and positioning for the slick slider homepage widget
// ==============================================================

#homepage-tabs {
  min-height: calc(100vh - 101px);
  max-height: calc(100vh - 101px);
  height: calc(100vh - 101px);
  overflow: hidden;
  background: $color-primary;
  @media (min-width: 960px) { background: #fff; }

  // forces modal opacity
  & .homepage-tabs-wrapper-outer { opacity: 0; display: none; transition: $transition-ease-slow; }

  // controls
  & .homepage-tabs-controls {
    & a { // arrow links
      color: $color-primary;
      background-color: $color-accent;
      padding: 6px 10px;

      &:hover, &:focus {
        color: $color-accent;
        background-color: $color-primary;
      } // end hover
    } // end a
  } // end controls

  & h1 {
    color: #fff;
    @media (min-width: 960px) { color: $color-primary; }
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
  }

  & h2 {
    color: #fff;
    @media (min-width: 960px) { color: $color-primary; }
    font-size: 1.1rem;
    text-transform: none;
    font-style: italic;
    letter-spacing: -1px;
    margin: 0 0 1rem;
  }

  & hr {
    border-top: 2px solid #fff;
    @media (min-width: 960px) { border-color: $color-primary; }
    width: 60%;
  }

  & p {
    color: #fff;
    @media (min-width: 960px) { color: $color-primary; }
    font-size: .875rem;
    line-height: 1.25;
    @media (min-width: 412px) { font-size: 1rem; line-height: 1.5;}
  }

  & .homepage-tabs-text-wrapper { // text div
    min-height: calc(100vh - 101px);
    height: calc(100vh - 101px);
    background: rgba(0,0,0,.85);
    @media (min-width: 960px) { background: #fff; }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  & .homepage-tabs-wrapper-inner { // grid wrapper
    min-height: calc(100vh - 101px);
    height: calc(100vh - 101px);
  }

  & .homepage-tabs-img { // photo div
    position: absolute;
    @media (min-width: 960px) { position: relative; }
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: calc(100vh - 101px);
    height: calc(100vh - 101px);
  }

  @media (min-width:412px) {
    & h1 {
      font-size: 1.5rem;
      letter-spacing: 0;
      line-height: 1;
      position: relative;
      left: 5px;
      margin: 0;
    }

    & h2 {
      font-size: 1.45rem;
      text-transform: none;
      font-style: italic;
      letter-spacing: -1px;
      margin: 0 0 1rem;
    }
  } // end @412

  @media (min-width: 768px) {
  } // end @768

  @media (min-width: 1024px) {
  }

  @media (min-width: 1800px) {
  } // end @1800

  @media (min-width: 2400px) {
  } // end @2400
}


// -----------------------------------------
// ## tab one


// -----------------------------------------
// ## tab two
#homepage-tabs-two {
  & .homepage-tabs-text-wrapper {
    background: rgba(0,0,0,.65);
    @media (min-width: 960px) { background: #fff; }
  }
}

// -----------------------------------------
// ## tab three
#homepage-tabs-three {
  & .homepage-tabs-text-wrapper {
    background: rgba(0,0,0,.65);
    @media (min-width: 960px) { background: #fff; }
  }
}
